.footerdiv{

ul{
    position: relative;
    margin-top: 7%;
    margin-left: 9px;
}

li{
    border-right: 1px solid #ffffff;
    padding: 0 15px;
}

li a{
    text-decoration: none;
    color: #00cc00;
}

.menu {
    margin-left: 50%;
    margin-top: -13%;
}

.footermessage{
  list-style: none;
    a{
        color: #00cc00;
        display: inline;
    }
}

.last{
    border-right: none;
}










}