ul{
    position: relative;
    margin-top: 7%;
    margin-left: 9px;
}

li{
    border-right: 1px solid #ffffff;
    padding: 0 15px;
}

last{
     border-right: none;
}

li a{
    text-decoration: none;
    color: #00cc00;
}