.page-archives-class{

    ul{
        list-style-type: none;
    }

    li p{
        text-decoration: none;
        color: white;
    }

   li a{
       text-decoration: none;
        color: #00cc00;
        font-size: 41px;
    }



}