.submitpage{

form{
    background-color: black;
}

textarea{
    background-color: black; 
    border: 2px solid #00cc00;
}

input[type=text]{
    background-color: black; 
    border: 2px solid #00cc00;
}

button, input[type=button], input[type=reset], input[type=submit]{
    background-color: black; 
    color: #00cc00; 
    border: 2px solid #00cc00;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

textarea{
    color: white;
}

input{
    color: white;
}

button{
    color: #00cc00;
}

}